<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219887052124-j3tehq3q90t22lk0985q1b79kt5j33o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219887052124-j3tehq3q90t22lk0985q1b79kt5j33o2</string>
	<key>API_KEY</key>
	<string>AIzaSyDyglXKFgSHkG23QCO5e0Td1HkEEa0JD8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>219887052124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-web-connection</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-web-connection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219887052124:ios:cb8d478e2b766784e44d99</string>
</dict>
</plist>